PORT=3001

# Google Sheets
GOOGLE_SPREADSHEET_ID=coloque_o_id_da_planilha_aqui
GOOGLE_SHEET_NAME=Equipamentos

# Service Account
GOOGLE_PROJECT_ID=seu-projeto-google-cloud
GOOGLE_SERVICE_ACCOUNT_EMAIL=sua-service-account@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"

# Frontend allowed origins
ALLOWED_ORIGINS=http://localhost:3000,https://seu-frontend.vercel.app
